[alias]
    a = add
    b = branch
    ba = branch -a
    bd = branch -D
    bl = blame
    ca = commit --amend
    cm = commit -m
    co = checkout
    cob = checkout -b
    cp = cherry-pick
    d = diff
    ds = diff --staged
    l = log --graph --pretty=tformat:'%C(yellow)%h%C(reset)%x09 %C(cyan)%aD%C(reset) %C(blue)%xE2%x89%x88 %ar%C(reset) %C(auto)%d%C(reset)%n %x09%x09 %s%n %x09%x09 %C(dim)%aN <%aE>%C(reset)%n'
    m = merge
    p = push
    pl = pull
    rh = reset HEAD
    rs = restore --staged
    s = status
    sh = show
    st = stash
    stl = stash list
    stp = stash push
    stpp = stash pop
[blame]
    coloring = highlightRecent
[commit]
    gpgsign = true
[color "blame"]
    highlightRecent = 240 237, 2 years ago, 243 236, 1 year ago, 246 235, 6 months ago, 249 234, 1 month ago, 252 233, 1 week ago, 255 232
[core]
    autocrlf = input
    excludesfile = ~/.gitignore
    longpaths = true
    pager = delta
[credential]
	helper = osxkeychain
[delta]
    diff-so-fancy = true
    file-decoration-style = "ol"
    hunk-header-style = "omit"
    line-numbers = true
    navigate = true
[diff]
    colorMoved = default
[fetch]
    prune = true
[github]
    user = sanderbongers
[gpg]
    format = ssh
[init]
    defaultBranch = main
[log]
    date = relative
[pull]
    rebase = true
[push]
    autoSetupRemote = true
[rebase]
    autosquash = true
    updateRefs = true
[tag]
    sort = -version:refname
[user]
    email = sander@bonge.rs
    name = Sander Bongers
    signingkey = ~/.ssh/id_ed25519.pub
[include]
    path = ~/.gitconfig.local
